body {
    background-image: url("https://t4.ftcdn.net/jpg/00/93/36/49/360_F_93364974_eoos8QGsa9CzTa5hGRRL6EutXMSKgdOA.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 100px;
    color: goldenrod;
}

#msg-el{
    font-style: italic;
}

button{
    color: #016f32;
    background-color: goldenrod;
    width: 200px;
    font-size: 20px;
    padding: 6px;
    border: none;
    border-radius: 6px;
    display: block;
    margin: 10px auto;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold; 
}
